<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio_dz</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'jobs/vybor.svg' %}" alt="">
            </a>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="">Блог</a></li>
            <li><a href="" target="_blank">Резюме</a></li>
        </ul>
    </div>
</div>
  <div class="content">
      <div class="wrap">
          {% block content %}
          {% endblock %}
      </div>
  </div>
</body>
</html>