{% extends 'base.html' %}

{% block content %}
{{super()}}
<p>Оплата товара в нашем интернет-магазине</p>
<p>Оплату можете производить несколькими способами:</p>
<ol>
<li>Оплата в розничном магазине наличными, заказ при этом получаете сразу после оплаты.</li>
<li>Безналичный расчет для юридических лиц и предпринимателей</li>
<li>Наложенный платеж</li>
</ol>
<p>Способ оплаты указывайте в комментариях к заказу. После оплаты не забудьте нас уведомить об этом через электронную почту.</p>
<p>Товар резервируется на складе на 2 рабочих дня после оформления заказа.</p>
{% endblock%}